<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-4 bg-client-primary p-4">BACKGROUND PRIMARY</div>
            <div class="col-12 col-md-4 bg-client-secondary text-client-third p-4">BACKGROUND SECONDARY</div>
            <div class="col-12 col-md-4 bg-client-third p-4">BACKGROUND THIRD</div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-4 p-3 mb-2">
                <button class="btn btn-client-primary mb-2 w-100">TESTE BTN BTN-client-PRIMARY</button>
                <button disabled="disabled" class="btn btn-client-primary mb-2 w-100">TESTE BTN BTN-client-PRIMARY
                    DISABLED</button>
                <button class="btn btn-outline-client-primary mb-2 w-100">TESTE BTN BTN-OUTLINE-client-PRIMARY</button>
                <button disabled="disabled" class="btn btn-outline-client-primary mb-2 w-100">TESTE BTN
                    BTN-OUTLINE-client-PRIMARY DISABLED</button>
            </div>
            <div class="col-12 col-md-4 p-3 mb-2">
                <button class="btn btn-client-secondary mb-2 w-100">TESTE BTN BTN-client-SECONDARY</button>
                <button disabled="disabled" class="btn btn-client-secondary mb-2 w-100">TESTE BTN BTN-client-SECONDARY
                    DISABLED</button>
                <button class="btn btn-outline-client-secondary mb-2 w-100">TESTE BTN
                    BTN-OUTLINE-client-SECONDARY</button>
                <button disabled="disabled" class="btn btn-outline-client-secondary mb-2 w-100">TESTE BTN
                    BTN-OUTLINE-client-SECONDARY
                    DISABLED</button>
            </div>
            <div class="col-12 col-md-4 p-3 mb-2 bg-dark">
                <button class="btn btn-client-third mb-2 w-100">TESTE BTN BTN-client-THIRD</button>
                <button disabled="disabled" class="btn btn-client-third mb-2 w-100">TESTE BTN BTN-client-THIRD
                    DISABLED</button>
                <button class="btn btn-outline-client-third mb-2 w-100">TESTE BTN BTN-OUTLINE-client-THIRD</button>
                <button disabled="disabled" class="btn btn-outline-client-third mb-2 w-100">TESTE BTN
                    BTN-OUTLINE-client-THIRD DISABLED</button>
            </div>
        </div>
    </div>
</div>