/* ---------------------------------------------
----------------- IMPORTS ----------------------
--------------------------------------------- */

@import '../../assets/css/variables.less'; // Varáveis LESS

/* ---------------------------------------------
------------------ STYLES ----------------------
--------------------------------------------- */

.carrousel-swiper {
    .carrousel-container {
        border-radius: 40px;
        width: 100%;
        height: fit-content;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            border-radius: 40px;
            width: 100%;
        }
    }
}