/* ---------------------------------------------
----------------- IMPORTS ----------------------
--------------------------------------------- */
/* ---------------------------------------------
------------------ STYLES ----------------------
--------------------------------------------- */
.carrousel-swiper {
  border-radius: 28px;
}
.carrousel-swiper .carrousel-container {
  border-radius: 28px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carrousel-swiper .carrousel-container img {
  border-radius: 28px;
  width: 100%;
  background-color: transparent;
}
