/* SLIDE 01 */
.svg-slide-01 {
  width: 100%;
  height: 100%;
}
.svg-slide-01 svg {
  width: 100%;
  height: 100%;
}
.svg-slide-01 svg .cls-1 {
  fill: #cbbba0;
}
.svg-slide-01 svg .cls-1,
.svg-slide-01 svg .cls-2,
.svg-slide-01 svg .cls-3,
.svg-slide-01 svg .cls-4,
.svg-slide-01 svg .cls-5,
.svg-slide-01 svg .cls-6,
.svg-slide-01 svg .cls-7,
.svg-slide-01 svg .cls-8,
.svg-slide-01 svg .cls-9,
.svg-slide-01 svg .cls-10,
.svg-slide-01 svg .cls-11,
.svg-slide-01 svg .cls-12,
.svg-slide-01 svg .cls-13,
.svg-slide-01 svg .cls-14,
.svg-slide-01 svg .cls-15,
.svg-slide-01 svg .cls-16,
.svg-slide-01 svg .cls-17 {
  stroke: #1d1d1b;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1px;
}
.svg-slide-01 svg .cls-2 {
  fill: #878787;
}
.svg-slide-01 svg .cls-18 {
  fill: #fffd50;
}
.svg-slide-01 svg .cls-3 {
  fill: #b17f4a;
}
.svg-slide-01 svg .cls-4 {
  fill: #1d1d1b;
}
.svg-slide-01 svg .cls-5 {
  fill: #a48a7b;
}
.svg-slide-01 svg .cls-6 {
  fill: #7b6a58;
}
.svg-slide-01 svg .cls-19 {
  opacity: .75;
}
.svg-slide-01 svg .cls-20 {
  fill: #e94e1b;
}
.svg-slide-01 svg .cls-20,
.svg-slide-01 svg .cls-8 {
  opacity: .5;
}
.svg-slide-01 svg .cls-7 {
  fill: #fff;
}
.svg-slide-01 svg .cls-8,
.svg-slide-01 svg .cls-16 {
  fill: #8ae6ff;
}
.svg-slide-01 svg .cls-9 {
  fill: #f8f39f;
}
.svg-slide-01 svg .cls-10 {
  fill: #fbffc9;
}
.svg-slide-01 svg .cls-11 {
  fill: #ca9e67;
}
.svg-slide-01 svg .cls-12 {
  width: 100% !important;
  fill: url(#Gradiente_sem_nome_2);
}
.svg-slide-01 svg .cls-13 {
  fill: none;
}
.svg-slide-01 svg .cls-14 {
  fill: #706f6f;
}
.svg-slide-01 svg .cls-15 {
  fill: #ea5b0c;
}
.svg-slide-01 svg .cls-16 {
  opacity: .25;
}
.svg-slide-01 svg .cls-17 {
  fill: #312783;
}
